.dashboard {
  padding: 20px;
}

.card-container {
  display: flex;
  flex-wrap: wrap;
  gap: 20px; /* Spazio tra le card */
}

mat-card {
  flex: 1 1 45%; /* Larghezza responsiva */
  height: 35vh; /* Altezza basata sull'altezza del viewport */
  display: flex;
  justify-content: center;
  align-items: center;
}

@media (max-width: 768px) {
  .card-container {
    flex-direction: column; /* Dispone le card in verticale su schermi più piccoli */
  }

  mat-card {
    width: 100%; /* Occupa tutta la larghezza disponibile */
    height: auto; /* Si adatta al contenuto */
    margin-bottom: 20px; /* Spazio inferiore tra le card */
  }
}

@media (min-width: 1200px) {
  mat-card {
    height: 50vh; /* Altezza maggiore per schermi più grandi */
  }
}

.title {
  text-align: center;
  text-transform: uppercase;
}

.card-link {
  cursor: pointer;
}

.button-container {
  display: flex;
  justify-content: center;
}
